<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Tasman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    <section id="dashboard-modal" class="modal hidden"></section>
    <section id="upload-modal" class="modal hidden"></section>
    <div class="overlay hidden"></div>
    <button id="open-upload" class="btn" hx-get="/upload-form" hx-trigger="click" hx-target="#upload-modal"
        hx-swap="innerHTML">Upload Dataset</button>
    <div id="map"></div>
    <script>
        const uploadModal = document.querySelector("#upload-modal");
        const dashboardModal = document.querySelector("#dashboard-modal");
        const overlay = document.querySelector(".overlay");
        const btnOpenUpload = document.querySelector("#open-upload");

        const openDashboardModal = function (e) {
            console.log(e);
            m = findMarkerByLocation(e.latlng.lat, e.latlng.lng)
            dashboardModal.classList.remove("hidden");
            overlay.classList.remove("hidden");
            htmx.ajax("GET", "/dashboard/1", {target: "#dashboard-modal", swap: "innerHTML"})
        };
        const openUploadModal = function () {
            uploadModal.classList.remove("hidden");
            overlay.classList.remove("hidden");
        };
        btnOpenUpload.addEventListener("click", openUploadModal);
        const closeModal = function () {
            uploadModal.classList.add("hidden");
            dashboardModal.classList.add("hidden");
            overlay.classList.add("hidden");
            dashboardModal.innerHTML = "";
        };

        async function sendData() {
            // Associate the FormData object with the form element
            const uploadForm = document.querySelector("#upload-form");
            const formData = new FormData(uploadForm);

            try {
                const response = await fetch("/upload", {
                    method: "POST",
                    // Set the FormData instance as the request body
                    body: formData,
                });
                closeModal();
                updateMarkers();
            } catch (e) {
                console.error(e);
            }
        }

        let map = L.map('map').setView([-42.965044, 147.363722], 9);;
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        let mapMarkers = [];
        let markers = [];
        async function updateMarkers() {
            try {
                const response = await fetch("/geo-markers", {
                    method: "GET",
                });
                mapMarkers = [];
                markers = [];
                data = await response.json();
                console.log(data);
                data.markers.forEach((m) => {
                    let newMark = L.marker([m.latitude, m.longtitude]).addTo(map);
                    newMark.on('click', openDashboardModal)
                    markers.push(m)
                    mapMarkers.push(newMark);

                });
            } catch (e) {
                console.error(e);
            }
        }
        updateMarkers();

        function findMarkerByLocation(lat, long) {
            markers.forEach((m) => {
                if (m.latitude == lat && m.longtitude == long) {
                    return m
                }
            });
        }
    </script>
</body>

</html>
